@media screen and (max-width: 1150px) {
  .form-container {
    font-size: 0.8rem;

    h1 {
      font-size: 1.5rem;
    }

    input,
    label,
    button,
    span {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 670px) {
  .form-container {
    flex-direction: column;
    padding: 20px;
    max-width: 95%;

    input:not([type="checkbox"]) {
      width: 90%;
    }

    .auth-container {
      padding: 10px;
    }

    .switch-container {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
