.add-hive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // margin: 20px 0;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 5px;

  .add-hive-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h2 {
      margin: 0;
      margin-right: 30px;
    }

    img {
      cursor: pointer;
      width: 25px;
      transition: all ease 0.5s;

      &.close {
        transform: rotate(-45deg);
      }
    }
  }

  hr {
    width: 90%;
    height: 2px;
    margin: 0;
    border: none;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .add-hive-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.hide {
      display: none;
    }

    .add-hive-inputs-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      input {
        margin: 5px 0;
        background-color: rgba(255, 255, 255, 0.6);
        border: none;
        border-radius: 100px;
        padding: 10px 20px;
      }
    }
  }

  button {
    margin: 10px 0;
  }
}
