.app-footer {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(255, 75, 0, 0.8);

  box-shadow: rgba(255, 75, 0, 0.5) 0px -5px, rgba(255, 75, 0, 0.4) 0px -10px,
    rgba(255, 75, 0, 0.3) 0px 15px, rgba(255, 75, 0, 0.2) 0px -20px,
    rgba(255, 75, 0, 0.1) 0px -25px;

  h2,
  p {
    width: 100%;
    text-align: center;
  }

  .footer-email {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
  }

  .footer-heart {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 100%;
  }

  .footer-name {
    font-size: 1.2rem;
    font-family: "Pacifico", "Roboto";
  }
}
